<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shikhar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin|Exo|Assistant|Anton|caladea|Cormorant+Garamond|Liu+Jian+Mao+Cao|Love+Ya+Like+A+Sister|Nanum+Brush+Script|Pacifico|Permanent+Marker|UnifrakturMaguntia|Yesteryear&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/14bf636678.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>


  <section id="Title">

    <nav class="navbar navbar-expand-lg ">
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand nav-word" href="#">Shikhar Chauhan, Webdeveloper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-word" href="#Blog">My Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-word" href="#About">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-word" href="#">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-word" href="#contact">Contact Me</a>
          </li>
          <div class="pull-right">
            <li>
             <a href="/login" role="button" class="btn btn-dark btn-sm download-button-1 text-light">Subscribe</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-6">
        <h1 class="Firsth1">It's my personal websites and you found everything right here related to me.</h1>
        <p class="Firstp">You can also subscribe to my Blog for getting a mail as notification whenever I come with a new one.</p>
        <a href="/login" role="button" class="btn btn-dark btn-lg download-button text-light"><i class="far fa-smile"></i> Subscribe</a>
      </div>

      <div class="col-lg-6">
        <img class="image-size" src="shikhar.jpg" alt="iphone-mockup">
      </div>
    </div>

  </section>


<section style="background-color: #f4eeff;">
  <div id="Profile" class="container">
    <h1 class="Profileh1">Profile</h1>
    <p class="textColor1">I'm a creative full stack webdeveloper</p>
    <hr style="margin-bottom: 50px; margin-top:10px;">
    <div class="row">
      <div class="col-md-4">
        <h3 class="Profileh3">About me</h3>
        <p class="textColor">I am an allround web developer.I love structure and order & I also stand for quality.
          I love spending time on fixing little details and optimizing web apps. Also I like working in a team, as I believe it helps learn faster and much more.
          As the saying goes: 'two heads are better than one'.</p>
      </div>
      <div  class="col-md-4 text-center">
        <img class="imageabout" src="shikhar.jpg" alt="myimage">
      </div>
      <div class="col-md-4">
        <h3 class="Profileh3">Details</h3>
        <strong>Name</strong>
        <p class="textColor">Shikhar Pratap Singh Chauhan</p>
        <strong>Age</strong>
        <p class="textColor">20 years</p>
        <strong>Location</strong>
        <p class="textColor">Etah, Uttar Pradesh, India</p>
        <button style="padding: 3px 12px;" type="button" class="btn btn-primary"><i style="padding-right: 6px;" class="fab fa-twitter"></i>Follow</button>
      </div>
    </div>
  </div>
</section>







  <section id="Blog">
    <div class="jumbotron p-4 p-md-5 text-dark rounded bg-white">
      <div class="col-md-6 px-0">
        <h1 style="font-family: 'Yesteryear', cursive;">This is the Blog part of my website. To see all the blogs please click on Explore Tab below.</h1>
        <p style="font-family: 'Nanum Brush Script', cursive; font-size:25px;">It was always my wish to start Blogging because I find It somewhat difficult to start as I didn't have any idea where to start from. But now this is my first initiative
          towards this. Hope you like!</p>
        <p class="lead mb-0"><a href="/signup" class="text-dark font-weight-bold">Explore...</a></p>
      </div>
    </div>
  </section>


  <section id="About">
    <div class="container aboutme">
      <h1 class="about">Here's what I've done so far</h1>
      <div style="float:left;" class="col-lg-6 padding1">
        <img class="Photo1" src="lookingforward.jpg" alt="Looking Forward">
      </div>
      <div style="float:right;" class=" col-lg-6 padding2">
        <h3 style="color: #7f78d2;">Looking Forward</h3>
        <p class="textColor">Right now I'm working on a field in which I have much interest and always eager to know new things i.e Web-Development. I've also taken a course for the same from Udemy and that is approx 75% completed and this website which
          you scrolling right
          now is made from what I've learnt from it.</p> <br>
        <p class="textColor">I'm looking forward to complete this course as soon as possible and will upload my certificate too. And I'm also started doing Competitive programming and trying to be good at it. Will attach my profile link of CodeForces
          soon.</p>
      </div>
    </div>
    <div class="container aboutme">
      <div style="float:left;" class="col-lg-6 padding1">
        <img class="Photo1" src="dit.jpg" alt="College photo">
      </div>
      <div style="float:right;" class=" col-lg-6 padding2">
        <h3 style="color: #7f78d2;">DIT University</h3>
        <h4>2018-present</h4>
        <h6 style="color: #8cba51;">Dehradun, UK</h6>
        <p class="textColor">Currently I'm pursuring my B.Tech in Computer Science from DIT University.
          My engagement in DIT ACM Student chapter initiatives exercised my creative muscle, sparked my obsession with design, and strengthened my tolerance to adversity.</p>
        <p class="textColor">DIT showing me what I love to do, gifted me with a love for learning, and surrounding me with a wealth of inspiring peers.</p>
      </div>
    </div>
    <div class="container aboutme">
      <div style="float:left;" class="col-lg-6 padding1">
        <img class="Photo1" src="school.png" alt="School photo">
      </div>
      <div style="float:right;" class="col-lg-6 padding2">
        <h3 style="color: #7f78d2;">Assisi Convent Sr. Sec. School</h3>
        <h4>Class of 2017</h4>
        <h6 style="color: #8cba51;">Etah, UP</h6>
        <p class="textColor">I'm grateful for those years that I've spend there. Assisi was where I learned how to articulate my ideas, participated in Science fare where my team won 2nd prize for non-working model, fell in love with learning,
          facilitated service events for the local community,
          worked as volunteer for many events and occasions. I've passed my 12th from there with 81%. </p>
      </div>
    </div>
  </section>

  <p>Hello</p>

  <footer class="background-grey">
    <div id="contact" class="container">
      <h1 class="contacth1">Contact</h1>
      <p class="contactp">“If I had asked people what they wanted, they would have said faster horses.”</p>
      <p class="contactp">- Henry Ford</p>

      <hr width="50%" style="color: #687466; border: 0.2px solid; margin: 40px auto;">
      <div class="row">
        <div style="  float: right;" class="col-lg-6">
          <ul style="list-style-type: none;">
            <li style="padding: 20px 0 20px 0;" ><a class="acolor" href="https://twitter.com/Shikhar32126822"><i class="icons fab fa-twitter-square fa-2x"></i><span class="Link">https://twitter.com/Shikhar32126822</span></a></li>
            <li style="padding: 20px 0 20px 0;" ><a class="acolor" href="https://www.instagram.com/chauhan_shikhar.07/?hl=en"><i class="icons fab fa-instagram-square fa-2x"></i><span class="Link">https://www.instagram.com/chauhan_shikhar.07/?hl=en</span></a></li>
          </ul>
        </div>
        <div style="float: left;" class="col-lg-6">
          <ul style="list-style-type: none;">
            <li style="padding: 20px 0 20px 0;"><a class="acolor" href="mailto:shikharchauhan07@gmail.com"><i class="icons fas fa-envelope-square fa-2x"></i><span class="Link">shikharchauhan07@gmail.com</span></a></li>
            <li style="padding: 20px 0 20px 0;"><a class="acolor" href="https://www.linkedin.com/in/shikhar-chauhan-34a811198/"><i class="icons fab fa-linkedin fa-2x"></i><span class="Link">https://www.linkedin.com/in/shikhar-chauhan-34a811198</span>/</a></li>
          </ul>
        </div>

      </div>

    </div>
  </footer>




  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
